*{
    padding: 0;
    margin: 0;
}

 .second-header{
    width: 80%;
    max-width: 1000px;
    position: fixed;
    padding: 25px;
    background: black;
    left: 0;
    right: 0;
} 

.principal{
    display: flex;
}

.imagen-principal{
    margin: 40px 40px 25px 40px; 
    width: 28%;
    height: auto;
}
/*media query principal*/

@media screen and (max-width:800px) {
    .imagen-principal{
        align-content:center;
        position: absolute;
        width: 100%;
    }
}
@media screen and (max-width:800px) {
    .resumen{
      width: 100%;
    }
}


.movie{
    margin: 80px 40px 25px 40px;
} 

.coincidencia{
    margin-top: 15px;
    display: flex;
    align-items: center;
}
@media screen and (max-width:800px) {
    .coincidencia{
        margin: 130px;
        position: absolute;
        text-align: center;
    }
}
.botones:hover{
    color:rgb(58, 56, 56);
}

.botones{
    font: size 24px;
    width: 250px;
    height: 23px;
    font-weight: bold;
}

.porcentaje{
    color: #71D074;
    font-weight: 700;
    padding-right: 25px;
}

.anio, .duracion{
    color: gray;
}

.r-image{
    padding-left: 5px;
    padding-right: 20px;
    width: 2%;
}

.hd{
    padding-left: 5px;
    width: 3%; 
}

.resumen{
    margin-right: 80px;
    padding: 40px;
    position:relative;
    text-align:justify;

}

.botones-peli{
    /* padding: 40px; */
    width: 300px;
    height:50px ;
    display: flex;
    justify-content: space-evenly;
}
.galeria{
    margin-top: 3em;
    margin-bottom: 4em;
    padding: 0 1em;
}

.galeria:first-child{
    margin-top: 5em;
}

.contenedor{
    margin-top: 1em;
    display: flex;
    /* white-space: nowrap; */
    overflow-x: auto;
}
.peliculas{
    display: inline-block;
    /* margin-left: 10px;
    No me está funcionando */
}

.peli-galeria{
    /* width: 300px; */
    margin-right: 10px;
}

.peli-galeria:last-child{
margin: 0;
}

@media screen and (max-width:800px) {
    .resumen{
        display: none;
    }
}








